div
{
    background-color: rgb(196, 191, 191);
    border-width: 20px 20px 20px 20px;
    border-color: white white green red;
    border-style: solid ;


    


    
}

h1
{

    border-width: 40px 40px 40px 40px;
    border-color: white white green red;
    border-style: solid ;
}




